<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @listum.nombre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @listum.rating %>
</p>

<%= link_to 'Edit', edit_listum_path(@listum) %> |
<%= link_to 'Back', lista_path %>
